<app-nav-dashboard [userId]="user.id"></app-nav-dashboard>
<div class="container mx-auto h-auto bg-blue-300 m-5 shadow-md rounded-md">
	<div class="p-5 text-center text-3xl font-bold">
		<h1>User Details</h1>
	</div>
	<div class="flex justify-center">
		<hr class="w-[800px] font-black border-b border-slate-400">
	</div>

	<div class="p-5 text-2xl">
	<div class=" my-3">
		<span class="font-semibold mx-4"> Firstname: </span>
		<span>{{user.firstname}}</span>
	</div>
	<div class=" my-3">
		<span class="font-semibold mx-4">Lastname: </span>
		<span>{{user.lastname}}</span>
	</div>
	<div class=" my-3">
		<span class="font-semibold mx-4">Email: </span>
		<span>{{user.email}}</span>
	</div>
	<div class=" my-3">
		<span class="font-semibold mx-4">Created: </span>
		<span>{{user.createdAt}}</span>
	</div>
	<div class=" mt-6">
		<button routerLink="/edit-user/{{user.id}}" class="w-24 h-12 bg-teal-500 mx-4 rounded-xl shadow-2xl transition-all hover:bg-teal-300 delay-150">Edit</button>
		<button routerLink="/dashboard/{{user.id}}" class="w-24 h-12 bg-amber-500 mx-4 rounded-xl shadow-2xl transition-all hover:bg-amber-300 delay-150">Back</button>
	</div>
    </div>

</div>


